
server {
        root /var/www/backend/public/;

        index index.php index.html index.htm index.nginx-debian.html;

        server_name localhost;
        listen 8081;
        client_max_body_size 8M;
        # add_header Access-Control-Allow-Origin *;
        # add_header 'Access-Control-Allow-Origin' '*' always;
        # add_header 'Access-Control-Allow-Methods' '*' always;
        # add_header 'Access-Control-Allow-Headers' '*' always;

        location / {
                try_files $uri $uri/ /index.php?$query_string;
        }

        # pass PHP scripts to FastCGI server
        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }

        error_log /var/log/nginx/backend_error.log;
        access_log /var/log/nginx/backend_access.log;

}